body {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
}

img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;

}

header {
    color: #F0EAD6;
    background-color: #32CBF1;
    border-radius: 30px;
}

h3 {
    font-size: 20px;
    color: white;
    background-color: #32CBF1;
    border-radius: 10px;
}

p {
    font-size: 15px;
}

main {
    max-width: 1900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
}

footer {
    background-color: #32CBF1;
    color: white;
}