@media only screen and (min-width: 1080px) {

    header, nav, main, footer {
        min-width: 1080px;
        margin: auto;
    }}

.side li{
    display: inline;
    float: left;
}

a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FEDE00;
}

button {
    grid-row: 2;
    margin-left: -1850px;
}