nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav {
    background-color: #000066;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #FAFBF4;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
    background-color: black;
    color: #FAFBF4;
}

nav ul li a:hover {
    background-color: black;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#primaryNav img {
    width: 30px;
    border-radius: 50%;
}

.body {
    font-size: 16px;
    font-family: "Bree Serif", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FAFBF4;
}

header {
    background-color: #000066;
    color: #FAFBF4;
    text-align: center;
    margin-top: -30px;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
    margin-top: 30px;
    margin-left: 10px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-bottom: -100px;
}

footer img {
    width: 80px;
    margin-bottom: -30px;
}

footer {
    background-color: #000066;
    color: #FAFBF4;
    margin-top: auto;
    padding-bottom: 30px;
    text-align: center;
}

footer a {
    color: #FAFBF4;
}

.main_page {
    background-color: #000066;
    color: #FAFBF4;
    margin: 15px;
    border: solid black 5px;
}

.main_page h2 {
    text-decoration: underline;
}

#banner {
    border: double #FAFBF4 5px;
    display: inline;
}

#hero img{
    width: 100%;
    height: 100%;
}

#hero h2 {
    position: absolute;
    color: #000066;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#link_hero {
    background-color: #000066;
    color: #FAFBF4;
}

#hero a:hover{
    color: yellow;
}

#weather img {
    width: 100px;
}

#join {
    display: none;
}

.link{
    color: #FAFBF4;
    font-size: 20px;
}

.hover:hover{
    color: blue;
}

#spotlight3 {
    display: none;
}

/* The Discover Page */

#discover {
    font-size: 16px;
    font-family: "Bree Serif", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#discover_img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

#discover_img img {
    max-width: 100%;
    height: auto;
}

#discover_img .img_title {
    margin-bottom: 5px;
    border: solid 1px;
    border-radius: 35%;
    background-color: #000066;
    color: #FAFBF4;
}

#demographic {
    justify-content: center;
    margin-left: 10px;
}

#demographic ul {
    list-style-type: none;
}

#county_img {
    display: none;
}

.visits{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000066 double 5px;
    font-size: 20px;
    margin-top: 10px;
}

/* Join Page */

form fieldset {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}

form label.top input{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #000066;
    color: #FAFBF4;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

#memBenefits {
    display: none;
}

#join_page {
    font-size: 16px;
    font-family: "Bree Serif", sans-serif;
    min-height: 100vh;
}

/* Directory Page */

.cards section{
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #000066;
    color: #FAFBF4;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards img{
    display: none;
}

.cards a{
    color: #FAFBF4;
}

.cards a:hover{
    color: blue;
}

/* Contact Page */

#contact_page{
    font-size: 16px;
    font-family: "Bree Serif", sans-serif;
    min-height: 100vh;
}

#contact_info {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    background-color: #000066;
    border: 5px solid black;
    color: #FAFBF4;
    margin: 50px;
    padding: 10px;
}

.form_inlineFlex{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}