body {
    font-size: 16px;
    font-family: "Bree Serif", sans-serif;
}

#logo {
    width: 200px;
    grid-row: 1;
    grid-column: 1;
    margin-left: -550px;
    margin-bottom: -50px;
}

header {
    background-color: #0A7029;
    color: #FEDE00;
    padding-top: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 30px);
    place-items: center;
}

#date{
    padding-left: 20px;
}

.side li{
    display: inline;
    float: left;
}

a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FEDE00;
    /*padding-top: 50px;*/
}

button{
    grid-row: 5;
    grid-column: 1;
    margin-left: -660px;
}

.left{
    padding-left: 200px;
}

header h1 {
    margin: 0;
    grid-column: 1;
    grid-row: 1;
}

header h2 {
    margin-left: -135px;
    font-weight: normal;

}

header h3 {
    margin-right: -580px;
    font-weight: normal;
}

ul{
    list-style-type: none;
}

main {
    padding: 0 2%;
    min-height: 10rem;
}

footer {
    background-color: #0A7029;
    color: #FEDE00;
    padding: .5rem 2%;
    text-align: center;
}