nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav {
    background-color: #eee;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#primaryNav img{
    width: 30px;
    border-radius: 50%;
}

.body {
    font-size: 16px;
    font-family: "Bree Serif", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FAFBF4;
}

header {
    background-color: #000066;
    color: #FAFBF4;
    text-align: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

footer img {
    width: 80px;
    margin-bottom: -30px;
}

footer {
    background-color: #000066;
    color: #FAFBF4;
    margin-top: auto;
    padding-bottom: 30px;
    text-align: center;
}

footer a {
    color: #FAFBF4;
}

.main_page{
    background-color: #000066;
    color: #FAFBF4;
    margin: 15px;
    border: solid black 5px;
}

.main_page h2{
    text-decoration: underline;
}

#main_grid a{
    display: block;
    font-size: 20px;
    color: #FAFBF4;
    text-decoration: none;
}

#main_grid a:hover{
    color: blue;
}

#banner{
    border: double #FAFBF4 5px;
    display: inline;
}

#hero img{
    width: 100%;
}

#weather img{
    width: 100px;
}

#join{
    display: none;
}

#spotlight3{
    display: none;
}

/* The Discover Page */

#discover{
    font-size: 16px;
    font-family: "Bree Serif", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/*
#visit{
    text-align: center;
}*/

#discover_img{
    display: flex;
    float: left;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 10px;
}

#discover_img img{
    max-width: 100%;
    height: auto;
}

#discover_img p{
    margin-bottom: 5px;
    border: solid 1px;
    border-radius: 35%;
    background-color: #000066;
    color: #FAFBF4;
}

#demographic{
    display: flex;
    flex-direction: column;
    padding-top: 80px; 
    padding-left: 50px;  
}

#demographic h2{
    padding-left: 30px;
    margin-bottom: -10px;
}

#demographic p{
    padding-left: 40px;
    margin-bottom: -10px;
}

#demographic ul{
    list-style-type: none;
}

#county_img{
    display: none;
}

/* Join Page */

.flex_center_column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

