@media screen and (min-width: 64em) {

    header {
        display: flex;
        flex-direction: row;
    }
    
    header nav ul{
        display: flex;
        flex-direction: row;
    }
    
    header nav ul li {
        padding-left: 100px;
        padding-right: 100px;
    }

    header nav ul {
        list-style-type: none;
    }

    header nav ul li a {
        border-top: none;
    }

    #hamburgerBtn {
        display: none;
    }

    header #logIn{
        margin-top: 0px;
        margin-left: auto;
        margin-right: 10px;
    }

    #callAction h2 {
        margin-top: 50px;
    }
    
    #callAction button {
        margin-top: 350px;
    }


}