@media screen and (min-width: 90em) {

    header nav ul {
        display: flex;
        flex-direction: row;
    }

    header nav ul li {
        padding-left: 100px;
    }

    header nav ul {
        list-style-type: none;
    }

    header nav ul li a {
        border-top: none;
    }

    #hamburgerBtn {
        display: none;
    }

    header #logIn {
        margin-top: 0px;
        margin-left: auto;
        margin-right: 10px;
    }

    #callAction {
        position: absolute;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #ECD7BC;
        color: #95675B;
        border: 5px #95675B outset;
        width: 300px;
        height: 200px;
    }

    #callAction:hover {
        border: 5px #95675B inset;
    }

    #callAction h2 {
        display: block;
    }

    #callAction button {
        margin-top: 0px;
    }

    #home_grid{
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: repeat(2, 1fr);
    }

    #home_grid #contact_info {
        grid-row: 2;
        grid-column: 3;
    }

    #home_grid #weather_info {
        grid-row: 1;
        grid-column: span 3;
    }

    #home_grid #summary_info {
        grid-row: 2;
        grid-column: 1;
    }

    #home_grid #number_drinks {
        grid-row: 2;
        grid-column: 2;
    }


}