@media screen and (min-width: 50em) {

    #cta {
        display: block;
        width: 100%;
        height: auto;
    }

    #callAction {
        position: absolute;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 300px;
        height: auto;
        background-color: #ECD7BC;
        color: #95675B;
        border: #95675B 5px outset;
    }

    #callAction:hover {
        border: #95675B 5px inset;
        background-color: #95675B;
        color: #ECD7BC;
    }

    #beach_img {
        display: inline;
        width: 300px;
        border-radius: 75%;
    }

    #beach_img:hover {
        transform: rotate(2deg);
    }

    #home_grid{
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(3, 1fr);
    }

    #home_grid #contact_info {
        grid-row: 3;
        grid-column: span 2;
    }

    #home_grid #summary_info {
        grid-row: 2;
        grid-column: span 2;
        padding: 10px;        
    }

    #home_grid #number_drinks {
        grid-row: 1;
        grid-column: 1;
    }

    #home_grid #weather_info {
        grid-row: 1;
        grid-column: 2;
        padding: 10px; 
    }




}