/* Index Page */

body {
    background-color: white;
    border: #95675B 3px solid;
    font-family: 'Cabin', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #ECD7BC;
    color: #95675B;
    width: 100%;
    height: auto;
    align-items: center;
}

header #logo {
    width: 50px;
    height: 50px;
}

header h1 {
    font-size: 23px;
}

.logo_link {
    text-decoration: none;
    color: #95675B;
}

header button {
    width: 100px;
    height: 50px;
    border: #95675B 2px solid;
    border-radius: 75%;
    color: #95675B;
    font-size: 16px;
}

header button:hover {
    background-color: #95675B;
    color: #ECD7BC;
    cursor: pointer;
}

#cta {
    display: none;
}

#callAction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #ECD7BC;
    color: #95675B;
    border: #95675B 1px outset;
}

#callAction:hover {
    border: #95675B 1px inset;
    background-color: #95675B;
    color: #ECD7BC;
}

#ca_link {
    text-decoration: none;
}

#beach_img {
    display: none;
}

#home_grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.home_card {
    color: #95675B;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #ECD7BC;
    color: #95675B;
    width: 100%;
    height: auto;
    justify-content: center;
    border-top: 1px solid #95675B;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

/* Navigation Small Screen */

header nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #95675B;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #95675B;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

header nav ul li.active a {
    background-color: #95675B;
    color: #ECD7BC;
}

header nav ul li a:hover {
    background-color: #95675B;
    color: #ECD7BC;
}

header nav ul {
    display: none;
}

header nav ul.open {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

footer img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

footer #logo {
    padding-right: 10px;
}

footer a{
    margin-left: 30px;
    color: #95675B;
}

/* Fresh Page */

form fieldset {
    margin: 2rem 0;
    border: 2px solid #95675B;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #95675B;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 20px;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #95675B;
    font-size: 20px;
}

form label.top input{
    display: block;
    font-size: 1rem;
    border: solid 2px #95675B;
    border-radius: 4px;
    padding: .75rem;
    color: #95675B;
    width: 100%;
    max-width: 20rem;
    background-color: white;
}

form button.submitBtn {
    border: 2px solid #95675B;
    background-color: #ECD7BC;
    color: #95675B;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-size: 16px;
    cursor: pointer;
}

form button.submitBtn:hover {
    background-color: #95675B;
    color: #ECD7BC;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}


#drinkOrder {
    flex-direction: column;
    color:#95675B;
    border: #95675B 2px solid;
    padding-top: 10px;
    padding-left: 30px;
}

/* About Us Page */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#about h2{
    color: #95675B;
    text-decoration: underline;
    margin-bottom: -10px;
}

#about h3 {
    color: #95675B;
    font-size: 20px;
}

#about #story {
    padding: 30px;
}

#gMap {
    width: 100%;
    padding-bottom: 10px;
}