/* Index Page */

header {
    display: flex;
    flex-direction: row;
    background-color: #ECD7BC;
    color: #95675B;
    width: 100%;
    height: auto;
    align-items: center;
}

header #logo {
    width: 50px;
    height: 50px;
}

header h1 {
    font-size: 23px;
}

header button {
    width: 100px;
    height: 50px;
}

#cta {
    width: 100%;
    height: auto;
}

#callAction h2 {
    display: none;
}

#callAction button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    max-width: 220px;
    height: 50px;
    border-radius: 35%;
    font-size: 20px;
    margin-top: 50px;
    background-color: #ECD7BC;
    color: #95675B;
}

footer {
    display: flex;
    background-color: #ECD7BC;
    color: #95675B;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding: 30px;
}

/* Navigation Small Screen */

header nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #95675B;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #95675B;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

header nav ul li.active a {
    background-color: #95675B;
    color: #ECD7BC;
}

header nav ul li a:hover {
    background-color: #95675B;
    color: #ECD7BC;
}

header nav ul {
    display: none;
}

header nav ul.open {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#primaryNav img {
    width: 30px;
    border-radius: 50%;
}